body, p, h1, ul, li, blockquote {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Vollkorn', Georgia, serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
    border-radius: 4px;
}

/* GRID GERAL */
.estrutura {
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 3fr 300px;
    grid-template-areas: 
    "header header header"
    "sidenav content anuncios"
    "footer footer footer";
}

@media (max-width: 1200px) {
    .estrutura {
        grid-template-areas: 
        "header header header"
        "sidenav content content"
        "sidenav anuncios anuncios"
        "footer footer footer";    
    }
}

@media (max-width: 760px) {
    .estrutura {
        grid-template-columns: 100%;
        grid-template-areas: 
        "header"
        "sidenav"
        "content"
        "anuncios"
        "footer";    
    }
}

/* HEADER */
.header {
    grid-area: header;
    background: linear-gradient(135deg, #8844ee, #B07DFB);
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}



.logo {
    max-width: 200px;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.header nav a {
    display: block;
    padding: 10px;
    color: white;
    font-size: 18px;
    background: rgba(0, 0, 0, .1);
    border-radius: 4px;
    transition: 0.1s;
}

.header nav a:hover {
    background: rgba(0, 0, 0, .5);
}


@media (max-width: 760px) {
    .header {
        grid-template-columns: auto;
    }
    .logo {
        margin-bottom: 20px;
    }
    .header nav a {
        font-size: 16px;
    }
    .header nav ul {
        gap: 10px;
    }
}

/* SIDENAV */
.sidenav {
    grid-area: sidenav;
    background: #fafbfc;
    padding: 30px;
}

.sidenav ul li a {
    display: block;
    min-width: 60px;
    max-width: 100px;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 4px 4px 16px rgba(44, 44, 44, 0.15);
    transition: 0.1s ease-out;
}

.sidenav ul li a:hover {
    background-color: #B07DFB;
}

.sidenav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

@keyframes seta {
    from {
        right: 30px;;
    }
    to {
        right: 20px;
    }
}

@media (max-width: 760px) {
    .sidenav ul {
        flex-direction: row;
    }
    .sidenav {
        position: relative;
        overflow-x: auto;
    }
    .sidenav::after {
        content: '➝';
        position: absolute;
        top: 5px;
        right: 50px;
        color: rgba(0, 0, 0, .3);
        animation: seta 0.5s ease-in 0s infinite alternate;
    }
}

/* CONTENT */
.content {
    grid-area: content;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

@media (max-width: 600px) {
    .content {
        grid-template-columns: 1fr;
    }
}

.col-wide {
    grid-column: 1 / -1;
}

.imagem-1 {
    grid-row: span 2;
    align-self: end;
}

.imagem-2 {
    align-self: end;
}

p {
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: -0.005em;
    color: rgba(0, 0, 0, .7);
}

.informacoes p + p {
    margin-top: 30px;
}

.titulo {
    color: #B07DFB;
}

.titulo h1 {
    font-size: 60px;
    line-height: 1;
    font-weight: 700;
}

.titulo span {
    font-size: 14px;
    font-style: italic;
}

.caracteristicas {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}

.caracteristicas div {
    width: 80px;
    text-align: center;
    background: linear-gradient(135deg, #8844ee, #B07DFB);
    border-radius: 4px;
    box-shadow: 4px 4px 16px rgba(44, 44, 44, 0.15);
    position: relative;
}

.caracteristicas div span {
    display: block;
    color: #B07DFB;
}

.caracteristicas div .numero {
    font-size: 48px;
    line-height: 1;
    margin: 10px auto;
}

.caracteristicas div .rotulo {
    background: white;
    border-radius: 0 0 5px 5px;
    padding: 5px 0;
    position: relative;
    top: 2px;
}

.destaque {
    font-size: 14px;
    color: #B07DFB;
    max-width: 256px;
}

.citacao, .atributos {
    padding: 30px;
    border-radius: 4px;
    box-shadow: 4px 4px 16px rgba(44, 44, 44, 0.15);
    background: linear-gradient(135deg, #8844ee, #b07dfb);
    align-self: start;
}

.citacao p {
    font-size: 24px;
    font-style: italic;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    color: white;
}

.atributos li {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    padding: 15px;
}

.atributos li + li {
    border-top: 2px solid #B07DFB;
}

/* ANUNCIOS */
.anuncios {
    grid-area: anuncios;
    background-color: #fafbfc;
    display: grid;
    align-content: start;
    padding: 30px;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}


/* FOOTER */
.footer {
    grid-area: footer;
    background: linear-gradient(135deg, #8844ee, #B07DFB);
}

.footer p {
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 18px;
}